@model eCommerce.Models.Order

<div class="miniCart">
    <a href="@Url.Action("Index", "Cart")">
        Cart has @Model.OrderLines.Sum(x=>x.Qty) items
        <br />
        Total Price: @Model.OrderLines.Sum(x=>x.Qty * x.UnitPrice).ToString("c")
    </a>     
</div>