@model IEnumerable<eCommerce.Models.Category>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("ByCategory", "Shop", new {id=item.CategoryID})">
                @item.Name
            </a>
            @if (item.Subcategories.Any())
	        {
		        <div>
                    @Html.Partial("Navigation", item.Subcategories)
		        </div>
	        }
        </li>
    }
</ul>